*{
    margin: 0;
    padding:0;
    text-align: center;
}
#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: white;
    background-color: #1C1D21;
    
}
#text{
    font-size: 3em;
}
.choice{
    height: 165px; ;
    width: 165px ;
    margin: 2rem;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: #1C1D21;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

}
#user-score,#comp-score{
    font-size: 8rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    margin-top:  5rem; ;
    background-color: #081b31;
    color: #fff;
    font-size:2rem ;
    display:inline;
    padding: 1rem;
    border-radius:  1rem; ;
}